@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,400;0,700;1,700&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;600;700;800;900&display=swap');
body{
    
}
/* Shared styles */
*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
}

.btn-primary{
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    background: #4EC5F7;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border: none;
}

header{
    /* padding: 38px 240px; */
}

.nav{
    display: flex;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    justify-content: space-between;
    align-items: center;
    padding: 38px 240px;
}

.nav h3{
    text-align: center;
    font-weight: 700;
    line-height: normal;
    color: #0B0223;
    font-size: 2.85rem;
    font-weight: 700;
}

.G{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    margin-right: 20px;
}

.nav ul{
    display: flex;
    
}

.nav li, .nav li a{
    list-style: none;  
    font-size: 1.25rem;
    text-decoration: none;
    margin-right: 32px;
    
}

/* banner main styles here */

.banner{
    display: flex;
    justify-content: space-between;
    padding: 0px 240px;
    align-items: center;
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    

}

.banner-container .sub-title{
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    
}

.banner-container .title{
    text-align: center;
    font-size: 5.9375rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
}

.banner li{
    list-style: none;
    margin-bottom: 17px;
}

.list-item{
    position:relative;
    margin-left: -30px;
    
}

.banner button{
    margin-top: 40px;
}

.first-btn{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

/* Banner optional styles here */
.banner-opt{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    
    
}

.banner-opt-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 55px 240px;
}

.text-content{
    text-align: right;
}

.banner-opt-title{
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
}

.banner-opt-description{
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 32px;
}

.banner-opt button{
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    margin-bottom: 24px;
}

.banner .p1{
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
}

.banner-opt .p2{
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
}

/* Online game style here */

online-game{
    padding: 0px 240px;
}

.online-game-title{
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.span-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.online-game-description{
    color: #534C64;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 48px;
}

.online-game-img-container {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 24px;
}

.image-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.image-text img {
    margin-bottom: 10px;
}

.image-text p {
    margin-top: 15px;
    padding: 0;
    text-align:justify;
    width: 320px;
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
}

/* gaming style here */

.gaming{
    display: flex;
    padding: 120px 240px 120px 400px;
    justify-content: space-between;
    align-items: center;
}

.gaming-title{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
    text-align: right;
    margin-bottom: 24px;
}

.span-game-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gaming-description{
    color: #534C64;
    text-align: right;
    font-size: 1.25rem;
    font-weight: 400;
}

.gaming-text{
    margin-right: 265px;
    margin-bottom: 60px;
}

.img-shake{
    position: absolute;
    right: 700px;
    margin-top: 470px;
    
}

.gaming-2{
    display: flex;
    flex-direction: row-reverse;
    padding: 120px 250px 120px 240px;
    justify-content: space-between;
    align-items: center;

}

.gaming-title-2{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    margin-bottom: 24px;
}

.span-game-title-2{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gaming-description-2{
    color: #534C64;
    text-align: left;
    font-size: 1.25rem;
    font-weight: 400;
}

.gaming-text-2{
    margin-left: 265px;
    margin-bottom: 60px;
}

.img-shake-2{
    position: absolute;
    right: 805px;
    margin-top: 530px;
    
}

/* button area style here */

.names{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    
}

.names div{
    align-items: center;
    justify-content: center;
}
.names{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    place-items: center;
    padding: 100px 280px 120px 240px;
    gap: 25px;
    
    
}

.names button{
    border-radius: 50px;
    background: #ffffff;
    border: none;
    color: #0B0223;
    font-size: 1.25rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-bottom: 19px;
    border: none;
   
}

.btn a{
    text-decoration: none;
}

.btn img{
    margin-right: 10px;
}

/* footer style */
footer{
    background: #0B0223;
}

.footer-title, .menu-container>ul, .logo-container>ul, .terms-container>ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-title{
    padding-top: 120px;
    padding-bottom: 56px;
}

.footer-title h3{
    margin-left: 15px;
    color: #FFF;
    font-weight: 700;
    text-align: center;
    font-size: 2.81rem;
    font-weight: 700;
}

.menu-container>ul>li a{
    text-decoration: none;
    margin-right: 50px;
    color: #FFF;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 600;
    
}

.menu-container>ul{
    padding-bottom: 70px;
}

.logo-container>ul>li a{
    text-decoration: none;
    margin-right: 50px;
}

.logo-container>ul{
    padding-bottom: 60px;
}

.terms-container>ul>li a{
    text-decoration: none;
    margin-right: 50px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

.terms-container{
    padding-bottom: 50px;
}


footer p{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 130px;
}

@media screen and (max-width:576px) {
    
    .nav, 
    .list>ul,
    .banner,.online-game-img-container, .gaming, .gaming-2{
        flex-direction: column;
        
    }

    .nav{
        padding: 0;
        margin: 0;
        padding-right: 0px;
        background: none;
            
    }
    .img-container>img{
        width: 341px;
        height: 300px;
       
    }

    .img-shake{
        width: 220px;
        height: 241px;
        position: absolute;
        right: 319px;
        margin-top: 892px;
    }

    .gaming-img-container-2 img{
        width: 391px;
        height: 362px;
    }

    .gaming-text-2{
        margin-left: 20px;
    }

    .banner{
        padding: 10px;
        background-image: none;
    }
    .banner-opt-container{
        flex-direction: column-reverse;
        padding: 5px;
    }

    .text-content{
        text-align: center;
        padding: 0px;
    }

    .gaming-img-container img{
        width: 462px;
        height: 490px;
        margin-right: 154px;
    }

    .gaming-title{
        text-align: center;
    }

    .gaming-title-2{
        text-align: center;
    }
    
    
    .gaming-description{
        text-align: left;
    }
    
    .names{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .menu-container>ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        
    }
    .menu-container>ul li{
        margin-bottom: 20px;
    }

    .logo-container>ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

    }

    .logo-container>ul li{
       
        margin-bottom: 20px;
    }

    .terms-container>ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

    }

    .terms-container>ul li{
        margin-bottom: 40px;
    }

    .footer-s{
        display: flex;
        justify-content: center;
        align-items: center;
    }



}

@media screen and (min-width:576px) and (max-width:778px){
    .nav {
        padding: 24px;
      }
    
      .nav h3 {
        font-size: 2rem;
      }
    
      .nav li,
      .nav li a {
        font-size: 1rem;
        margin-right: 16px;
      }
    
      /* Update banner styles */
      .banner {
        padding: 0px 24px;
      }
    
      .banner-container .sub-title {
        font-size: 2rem;
      }
    
      .banner-container .title {
        font-size: 4.375rem;
      }
    
      /* Update banner optional styles */
      .banner-opt-container {
        
        padding: 32px 24px;
      }
    
      .banner-opt-title {
        font-size: 2.5rem;
      }
    
      .banner-opt-description {
        font-size: 1rem;
        margin-bottom: 24px;
      }
    
      .banner-opt button {
        margin-bottom: 16px;
      }
    
      .banner .p1 {
        font-size: 1.25rem;
      }
    
      .banner-opt .p2 {
        font-size: 1.5rem;
      }
    
      /* Update online game styles */
      .online-game {
        padding: 0px 24px;
      }
    
      .online-game-title {
        font-size: 2rem;
        margin-bottom: 12px;
      }
    
      .online-game-description {
        font-size: 1rem;
        margin-bottom: 24px;
      }
    
      .online-game-img-container {
        flex-wrap: wrap;
      }
    
      .image-text p {
        width: 100%;
      }
    
      /* Update gaming styles */
      .gaming {
        padding: 80px 24px 80px 32px;
      }
    
      .gaming-title {
        font-size: 2rem;
        line-height: 48px;
        text-align: left;
      }
    
      .gaming-description {
        font-size: 1rem;
      }
    
      .gaming-text {
        margin-right: 0;
        margin-bottom: 40px;
      }
    
      .img-shake {
        right: auto;
        left: 32px;
        margin-top: 350px;
      }
    
      .gaming-2 {
        flex-direction: column;
        padding: 80px 24px;
      }
    
      .gaming-title-2 {
        font-size: 2rem;
        line-height: 48px;
        text-align: center;
      }
    
      .gaming-description-2 {
        font-size: 1rem;
        text-align: center;
      }
    
      .gaming-text-2 {
        margin-left: 0;
        margin-bottom: 40px;
      }
    
      .img-shake-2 {
        right: auto;
        left: 32px;
        margin-top: 350px;
      }
    
      /* Update button area styles */
      .names {
        padding: 60px 24px 80px 24px;
      }
    
      .names button {
        font-size: 1rem;
      }
    
      /* Update footer styles */
      footer {
        padding-bottom: 32px;
      }
    
      .footer-title h3 {
        font-size: 2.25rem;
      }
    
      .menu-container > ul > li a {
        margin-right: 32px;
        font-size: 1rem;
      }
    
      .terms-container > ul > li a {
        margin-right: 32px;
        font-size: 0.875rem;
      }
    
      footer p {
        font-size: 0.875rem;
        padding-bottom: 80px;
      }
    }.banner-opt-container
    
    
    
    
}
